pre code {
  display: block;
  /* color: red; */
  background: none;
  white-space: pre;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  max-width: 100%;
  min-width: 100px;
  padding: 0;
}

kbd {
  background-color: grey;
  border-radius: 5%;
  padding: 5px;
  border: 2px solid black;
}
